.App {
  text-align: center;
}



/* Diese Klasse wird vergeben, wenn das Element completed ist */
.completed {
  text-decoration: line-through;
}



  /* Just some random styling */

form > label {
  display: block;
  margin-bottom: 10px;
}

form {
  margin-bottom: 30px;
}

li  {
  width: 500px;  
}

li > * {
  margin-left: 10px;
}


button {width: 110px}



